*~
*.orig
*.rej
tmp*
*.pyc
*.pyo
*~
#*
.svn
.tox
*.egg-info/
.venv
*.mmdb
yarn.lock
dist/*
openvpn_monitor/static/dist/*
openvpn_monitor/static/images/chronicle.jpg
openvpn_monitor/openvpn-monitor.conf
.gitignore